html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    margin: 0px;
    padding: 0px;
    background: rgb(165,165,218);
    background: linear-gradient(180deg, rgba(165,165,218,1) 0%, rgba(69,60,81,1) 19%, rgba(118,112,170,1) 41%, rgba(165,165,218,1) 67%, rgba(86,70,96,1) 100%);
    font-variant: small-caps;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "header header header header"
    "section main main main"
    "section main main main"
    "section main main main"
    "footer footer footer footer";
}
header{
    grid-area: header;
}
h1 a{
    text-decoration: none;
    color: black;

}
h1{
    color: rgb(9, 7, 10);
    text-align: center;
    font-size: 9rem;
    margin: 0rem;
    text-decoration: none;
}
h4{
    font-style: italic;
    color: aliceblue;
    font-size: 35PX;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
header nav ul li a{
    text-decoration: none;
    color: BLACK;
    border: 4px solid;
    padding: 5px;
}
header nav ul li{
    font-weight: bold;
}
header nav ul{
    list-style: none;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    margin-top: 0px;
    background: blueviolet;
    text-align: center;
    font-size: 2.5rem;
    color: black
}
section{
    grid-area: section;
    background-color: rgb(52, 43, 61);
}
.sec-pres{
    font-size: 50px;
    position: relative;
    left: 10px;
    color: blueviolet;
    font-weight: bold;
    top: 150px;
    outline: 5px solid white;
    width: 400px;
    height: 300px;
    padding: 1px;
    text-align: center;
}
.presu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    font-size: 50px;
}
.botones-pres{
    align-self: flex-start;
}
.botones-pres div{
    display: inline-block;
    margin-left: 50px;
}
.lyb{
    display: flex;
    position: relative;
    right: 300px;
    align-items: center;
    margin: 10px;
}
.map{   
    position: relative;
    top: 40px;
}
main{
    color: white;
    background-color: rgb(52, 43, 61);
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sec{
    display: flex;
    align-items: center;
}
.nosotros img{
    left: 5%;
    position: relative;

}
.main-nos{
    display: flex;
    align-items: center;
}
.main-nos div{

    width: 800px;
    font-size: 50PX;
}
.maindex{
    background: none;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.gridprod{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}
.txtprod{
    width: 1350px;
    height: 500px;
    overflow-y: scroll;
    margin: 0px;
    position: relative;
    left: 10px;
    top: 10px;
    font-size: 40px;
}
.precio{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: green;
    position: relative;
    bottom: 10px;
    margin: 0px;
    font-size: 100px;
}
.mdp{
    position: relative;
    display: flex;
    align-items: center;
    right: 15%;
}
.boxind a{
    text-decoration: none;
    color: white;
}
.boxind{    /* cajas index */
    position: relative;
    width: 30rem;
    height: 30rem;
    color: white;
    background-color: rgba(137, 43, 226, 0.89);
    margin: 13px 0px;
    text-align: center;
    font-size: 25px;
}
.boximg{
    position: relative;
    width: 190px;
    height: 230px;
    bottom: 20px;
}
.mon144{
    width: 230px; 
    height: 210px; 
    top: 1px
}
.i5{
    width: 260px; 
    height: 190px;
    top: 4px;
}
.i7{
    width: 260px;
    height: 200px;
    top: 8px;
}
.r3{
    width: 260px; 
    height: 200px; 
    top: 4px;
}

.r5{
    width:60%; 
    height: 60%; 
    top: 10px;
}

footer{
    grid-area: footer;
    font-size: 3rem;
}
.fmaster{
    border: 5px solid;
    display: flex;
    justify-content: space-between;
}
footer div div{
    background-color: blueviolet;
    text-align: center;
    outline: 5px solid;
    width: 24.7%;
}
.p0{
    margin: 0;
    margin-top: 10px;
    color: white;
    position: relative;
}
.p1{

    color: white;
    position: relative;
}
.p3{
    display: flex;
    justify-content: space-evenly;
}


@media screen and (max-width: 480px){
    
    html{
        font-size: 40%
        
    }
    .contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }

    header h1{
        position: relative;
        display: flex;
    }
    
    section div iframe{
        display: none;
    }

    header nav ul li{
        display: flex;
        text-align: center;
        align-items: center;
    }
    header nav ul li a{
        display: flex;
        align-items: center;
        height: 40px;
    }

    .boxind{
        font-size: 25px;
        height: auto;
    }
    
    .boximg{
        width: 75%;
        height: 70%;
    }

    .mon144{
        width: 160px;
    }

    .r3{
        width: 160px;
        height: auto;
    }

    .r5{
        position: relative;
        top: -20px;
    }

    .i7{
        width: 180px;
        height: auto;
    }

    .i5{
        width: 180px;
        height: 150px;
    }

    footer{
        font-size: 2.5rem;
    }

    .p3{
        display: inline-block
    }


    .mdp img{
        position: relative;
        width: 100%;
        height: 100%;
        left: 65px;
    }

    .sec{
        display: flex;
    }
    .main-nos{
        display: flex;

    }

    .nosotros img{
        position: relative;
        width: 75%;
        left: 50px;
        top: 10px;
    }

    .main-nos p{
        font-size: 4rem;
        text-align: center;
    }
}

