html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    margin: 0px;
    padding: 0px;
    background: rgb(165,165,218);
    background: linear-gradient(180deg, rgba(165,165,218,1) 0%, rgba(69,60,81,1) 19%, rgba(118,112,170,1) 41%, rgba(165,165,218,1) 67%, rgba(86,70,96,1) 100%);
    font-variant: small-caps;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "header header header header"
    "section main main main"
    "section main main main"
    "section main main main"
    "footer footer footer footer";
}
header{
    grid-area: header;
}

h1 a{
    text-decoration: none;
    color: black;

}
h1{
    color: rgb(9, 7, 10);
    text-align: center;
    font-size: 9rem;
    margin: 0rem;
    text-decoration: none;
}


h4{
    font-style: italic;
    color: aliceblue;
    font-size: 35PX;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
header nav ul li a{
    text-decoration: none;
    color: BLACK;
    border: 4px solid;
    padding: 5px;
}
header nav ul li{
    font-weight: bold;
}
header nav ul{
    list-style: none;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    margin-bottom: 0px;
    margin-top: 0px;
    background: blueviolet;
    text-align: center;
    font-size: 2.5rem;
    color: black
}

section{
    grid-area: section;
    background-color: rgb(52, 43, 61);
}

main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.txtprod{
    margin: 0%;
    position: relative;
    left: 20px;
    top: 10px;
    font-size: 50px;
}

.precio{
    
    font-weight: bold;
    color: green;
    position: relative;
    bottom: 10px;
    margin: 0px;
    font-size: 100px;
}

.boxind a{
    text-decoration: none;
    color: whte; /* Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
}
.boxind{    /* cajas index */
    position: relative;
    width: 30rem;
    height: 30rem;
    color: white;
    background-color: rgba(137, 43, 226, 0.89);
    margin: 13px 0px;
    text-align: center;
    font-size: 25px;
}

.boximg{
    position: relative;
    width: 190px;
    height: 230px;
    bottom: 20px;
}

.r3{
    width: 260px;
    height: 200px;
    top: 8px;
}

footer{
    grid-area: footer;
    font-size: 3rem;
}

.fmaster{
    border: 5px solid;
    display: flex;
    justify-content: space-between;
}

footer div div{
    background-color: blueviolet;
    text-align: center;
    outline: 5px solid;
    width: 24.7%;
}

.p0{
    margin: 0;
    margin-top: 10px;
    color: white;
    position: relative;
}

.p1{

    color: white;
    position: relative;
}
.p3{
    display: flex;
    justify-content: space-evenly;
}
